.searchContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #2ecc71; /* Verde Commons */
  box-shadow: 0 0 0 2px rgba(46, 204, 113, 0.2); /* Sombra verde suave */
} 