.searchContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 12px;
  color: #4CAF50 !important; /* Verde de Material UI */
  z-index: 1;
}

.searchInput {
  width: 100%;
  padding: 12px 12px 12px 44px; /* Padding extra a la izquierda para el ícono */
  border: 2px solid #AAAAAA; /* Cambiado a un gris más claro */
  border-radius: 25px; /* Aumentado para hacer los extremos más redondeados */
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.searchInput:focus {
  border-color: #4CAF50;
}

.searchInput::placeholder {
  color: #666;
} 